:root {
  /* COLOR VARIABLES */
  --borders: #fca311;
  /* Nav Bar Colors */
  --nav-background: #000103;
  --nav-text: #C7A67C;
  /* Main Colors */
  --main-background: #e5e5e5;
  --main-text: #000103;
}


/* RESET GENERIC ELEMENTS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* GENERAL FLEX STYLE */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* NAVBAR STYLES */
.nav-bar {
  min-height: 150px;
  background-color: var(--nav-background);
  border-bottom: solid var(--borders);
  justify-content: space-around;
}

.nav-title {
  color: var(--nav-text);
}

.nav-menu {
  padding: 0;
}

.nav-link {
  font-size: 18px;
  color: var(--nav-text);
  margin: 10px 40px;
}
