@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
  /* COLORS */
  --borders: #fca311;
  /* Nav Bar Colors */
  --nav-background: #000103;
  --nav-text: #C7A67C;
  /* Main Colors */
  --main-background: #e5e5e5;
  --main-text: #000103;

  /* FONT FAMILY */
  --mont: 'Montserrat', sans-serif;
  --ubuntu: 'Ubuntu Mono', monospace;
}


/* RESET GENERIC ELEMENTS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--mont);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: var(--ubuntu);
  font-weight: bold;
  color: var(--nav-text);
  font-size: 1.2rem;
}

/* GENERAL FLEX STYLE */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* NAVBAR STYLES */
.nav-bar {
  min-height: 150px;
  background-color: var(--nav-background);
  border-bottom: solid var(--borders);
  justify-content: space-around;
}

.nav-title {
  color: var(--nav-text);
}

.nav-menu {
  padding: 0;
}

.nav-menu li {
  display: inline-block;
  padding: 0px 30px;
}

.nav-link {
  position: relative;
}

/* Use :after combined with :hover to create underline animation when hover on links */
.nav-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 1px;
  right: 0;
  background: var(--borders);
  transition: width .2s ease;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
  background: var(--borders);
}


/* BANNER STYLES */
.banner {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-banner.jpg");
  /* Banner takes full screen height */
  height: 100vh;
  /* Position and center picture */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  /* Center in the middle of the banner */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.banner-title {
  color: white;
  font-size: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MAIN */
.page-wrapper {
  background: var(--main-background);
  letter-spacing: 1.5px;
}

.page-section {
  padding: 50px 50px;
  display: flex;
  justify-content: flex-start;
  min-height: 40vh;
}

.page-section h2 {
  min-width: 180px;
  margin-right: 50px;
  border-right: var(--borders) solid;
}

.about-wrap {
  display: flex;
  flex-direction: column;
}

.about-wrap p {
  margin-bottom: 40px;
}

/* PORTFOLIO STYLES / GRID */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 550px 350px 350px;
  grid-template-areas: 
  "one one"
  "two three" 
  "four five"
  ;
  width: 80%;
}

#one {
  grid-area: one;
  background-image: url("/images/interactive-rating-component.jpg");
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}

.grid-item {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/work-in-progress.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  border: 5px solid var(--main-borders);
  margin: 1em;
}

.grid-item h3 {
  color: var(--nav-text);
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* CONTACT STYLES */
.contact-links {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.contact-links li {
  padding: 0 30px;
}

/* MEDIA QUERY FOR TABLET SCREEN SIZES */
@media screen and (max-width: 870px) {
  .nav-title {
    margin: 0 auto;
  }

  .nav-menu {
    display: none;
  }

  .page-wrapper {
    padding: 10px;
  }

  .page-section {
    padding: 20px 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(5, 250px);
    grid-template-areas: 
    "one"
    "two"
    "three" 
    "four"
    "five"
    ;
  }
  
}

/* MEDIA QUERY FOR PHONE SCREEN SIZES */
@media screen and (max-width: 500px) and (min-width: 320px) {
  body {
    min-width: 580px;
    width: 100%;
  }

  .page-wrapper {
    padding: 10px;
  }

  .page-section {
    flex-direction: column;
  }
  
  .page-section h2 {
    border: 0;
    border-bottom: var(--borders) solid;
    padding-bottom: 10px;
    margin-bottom: 50px;

  }

  .grid-container {
    margin: 0 auto;
  }

  .contact-links {
    flex-direction: column;
  }

  .contact-links li {
    padding: 15px 0;
  }
}
